* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar-toggler {
  border: 0.5px solid purple;
  margin-right: 1rem; }

.navbar-nav {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --bs-nav-link-color: purple;
  margin-left: 1rem; }

.navbar {
  --bs-navbar-padding-y: $nulo,
; }

.navbar-brand {
  margin-left: 1rem; }

.container-fluid {
  --bs-gutter-x: $nulo ; }

.main {
  display: flex; }
  .main__anchorimg {
    width: 20rem; }

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic; }

.section {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  padding-bottom: 1rem; }
  .section__video {
    width: 50%; }
  .section__divparrafo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    margin: 0.5rem; }
  .section__banner {
    height: 250px; }

.footer {
  background-color: #dbc7db96;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium; }
  .footerter__logocontenedor {
    margin-left: 5rem; }
  .footer__logo {
    width: 200px;
    margin-right: 20px;
    margin-left: 2rem; }
  .footer__div {
    display: flex;
    margin-right: 2rem;
    gap: 1rem; }
  .footer__imgredes {
    width: 2rem;
    height: 2rem;
    object-fit: cover; }

/* MEDIA QUERIES ESTILO PANTALLAS MAS AMPLIAS*/
@media screen and (min-width: 1440px) {
  .navbar-brand {
    margin-left: 2rem; }
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
    margin-right: 1rem; }
  .navbar-nav {
    font-size: medium; }
  .main {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    justify-items: center; }
    .main__anchorimg {
      width: 30rem; }
  .section {
    display: grid;
    grid-template-rows: 50% 50%;
    column-gap: 1rem;
    margin: 1rem; }
    .section__video {
      grid-row: 1/3;
      width: auto; }
    .section__divparrafo {
      grid-row: 2/1;
      text-align: justify;
      font-size: medium; }
    .section__banner {
      grid-row: 2/2;
      margin-left: 1rem; } }

/* MEDIA QUERIES ESTILO LAPTOP*/
@media screen and (max-width: 1024px) {
  .navbar-brand {
    margin-left: 2rem; }
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
    margin-right: 1rem; }
  .navbar-nav {
    font-size: small; }
  .main {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    justify-items: center; }
    .main__anchorimg {
      width: 20rem; }
  .section {
    display: grid;
    grid-template-rows: 50% 50%;
    column-gap: 0.5rem;
    margin: 1rem; }
    .section__video {
      grid-row: 1/3;
      width: auto; }
    .section__divparrafo {
      grid-row: 2/1;
      text-align: justify;
      font-size: small; }
    .section__banner {
      grid-row: 2/2;
      margin-left: 1rem; } }

/* MEDIA QUERIES ESTILO TABLET*/
@media screen and (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%; }
    .main__div {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: auto; }
    .main__anchorimg {
      width: 30rem; }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0; }
    .section__video {
      width: 95%;
      margin-bottom: 1rem; }
    .section__div {
      display: flex;
      width: auto;
      padding: 1rem 1rem 1rem 1rem;
      overflow-x: hidden;
      justify-content: center; }
    .section__divparrafo {
      text-align: center;
      margin-top: unset;
      margin-bottom: 1rem; }
  .footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 10% 10% 30%;
    font-size: x-small;
    justify-items: center; }
    .footer__logocontenedor {
      margin: unset; }
    .footer__logo {
      width: 150px;
      margin: 0; }
    .footer__div {
      margin-right: 0;
      gap: 1rem; } }

/* MEDIA QUERIES ESTILOS MOVILES*/
@media screen and (max-width: 425px) {
  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30% 10%;
    justify-items: center; }
    .main__div {
      padding-top: 1rem;
      padding-bottom: 1rem; }
    .main__anchorimg {
      width: 20rem; }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0; }
    .section__video {
      width: 95%; }
    .section__divparrafo {
      text-align: center; }
  .footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 10% 10% 30%;
    font-size: x-small;
    justify-items: center; }
    .footer__logocontenedor {
      margin: unset; }
    .footer__logo {
      width: 150px;
      margin: 0; }
    .footer__div {
      margin-right: 0;
      gap: 1rem; } }
