/* es un selector general para todos los navegadores, elimino espacios y bandas  sup e inf*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*INICIO HEADER: con esto se que puedo repetir el mismo estilo en todo el html*/

.header{
    background-color: #dbc7db96;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header__logo{
    width: 200px;
    margin-right: 20px;
}

.header__logocontenedor{
    margin-left: 5rem;
}

.header__list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    margin-right: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header__anchor{
    text-decoration: solid;
}

.header__anchor--activo{   
    font-weight: bold;
}

.div{
    width: auto;
    height: 400px;
}

.div__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    background-color: #dbc7db96;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

.footer__logocontenedor{
    margin-left: 5rem;
}

.footer__logo{
    width: 200px;
    margin-right: 20px;
}

.footer__div{
    display: flex;
    margin-right: 2rem;
    gap:1rem;
}

.footer__imgredes{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.main{
    display: flex;
}

.main__div{
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin: auto;
}
.main__anchorimg{
    width: 10rem;
}

.main__divsubtitulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold ;
}

.section{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    padding-bottom: 1rem;
}

.section__video{
    width: 50%;
    margin-left: 1rem;
}

.section__div{
    width: 50%;
    padding: 1rem 2rem 2rem 2rem;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;

}


.section__divparrafo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;

    margin-top: 1rem;
    margin-bottom: 2rem;

}

/* MEDIA QUERIES ESTILOS MOVILES*/

@media screen and (max-width: 425px){

    .header{
        flex-direction: column;
    }  

    .header__logocontenedor {
        margin: auto;
    }

    .header__list {
        display: flex;
        font-size: xx-small;
    }

    .div {
        height: 200px;
    }

    .main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2px;
    }

    .main__div {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: auto;
    }

    .main__anchorimg {
        width: 6rem;
    }

    .main__divsubtitulo {
        font-size: x-small;
    }

    .section {
         flex-direction: column;
         align-items: unset;
    }
    
    .section__video {
        width: auto;
        margin: 1rem;
    }

    .section__div {
        width: auto;
        padding: 1rem 1rem 1rem 1rem;
        overflow-x: hidden;
    }

    .section__divparrafo {
        text-align: center;
        margin-top: unset;
        margin-bottom: 1rem;
    }

}