.footer{
    background-color: #dbc7db96;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    
    &ter__logocontenedor{
        margin-left: 5rem;
    }
    
    &__logo{
        width: 200px;
        margin-right: 20px;
    }
    
    &__div{
        display: flex;
        margin-right: 2rem;
        gap:1rem;
    }
    
    &__imgredes{
        width: 2rem;
        height: 2rem;
        object-fit: cover;
    }

}

