.mb-3 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.btn_margen{
    margin-left: 1rem ;
}

.form-control {
    width: 50%;
}

.form-label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div__form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin-left: 1rem;
    margin-top: 1rem;
}