/* MEDIA QUERIES ESTILO LAPTOP*/

@media screen and (min-width: 1024px){

    .navbar-brand{
        margin-left: 2rem;
    }
    
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }

    .navbar-nav{
        font-size: large;
    }
    

    .section {
        display: grid;

        grid-template-rows: 50% 50%;
        grid-template-columns: auto 40% ;

        justify-items: center;
        column-gap: 1rem;

        
        &__video {
            grid-row: 1/3;
            width: auto;
            }

        &__divparrafo{
                width: 15rem;
                height: 10rem;
            }
    }

}

/* MEDIA QUERIES ESTILO TABLET*/

@media screen and (max-width: 768px){

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-gap: 2px;

        &__div{
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin: auto; 
        }

        &__anchorimg {
                width: 15rem;
        }
    }

    .section {
         flex-direction: column;
         align-items: unset;

        &__video {
            width: auto;
            margin: 1rem;
        }
    
        &__div {
            display: flex;
            width: auto;
            padding: 1rem 1rem 1rem 1rem;
            overflow-x: hidden;
            justify-content: center;
        }
    
        &__divparrafo {
            text-align: center;
            margin-top: unset;
            margin-bottom: 1rem;
        }
    }
    
    .footer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 10% 10% 30%;
        font-size: x-small;
        justify-items: center;

        &__logocontenedor{
            margin: unset;
        }
    
        &__logo {
            width: 150px;
            margin: $nulo;
        }
    
        &__div {
            margin-right: 0rem;
            gap: 1rem;
        }
    }

}

/* MEDIA QUERIES ESTILOS MOVILES*/

@media screen and (max-width: 425px){

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-gap: 2px;

        &__div {
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin: auto;
        }

        &__anchorimg {
            width: 10rem;
        }
    }

    .section {
         flex-direction: column;
         align-items: unset;

        &__video {
            width: auto;
            margin: 1rem;
        }

        &__div {
            width: auto;
            padding: 1rem 1rem 1rem 1rem;
            overflow-x: hidden;
        }

        &__banner{
            width: 350px;
        }


        &__divparrafo {
            text-align: center;
            margin-top: unset;
            margin-bottom: 1rem;
        }
    }
    

    .footer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 10% 10% 30%;
        font-size: x-small;
        justify-items: center;

        &__logocontenedor{
            margin: unset;
        }

        &__logo {
            width: 150px;
            margin: $nulo;
        }

        &__div {
            margin-right: $nulo;
            gap: 1rem;
        }
    }
}