/* MEDIA QUERIES ESTILO PANTALLAS MAS AMPLIAS*/

@media screen and (min-width: 1440px){

    .navbar-brand{
        margin-left: 2rem;
    }
    
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
        margin-right: 1rem;
    }

    .navbar-nav{
        font-size: medium;
    }
    
    .main {
        display: grid;
        grid-template-columns: 33% 33% 33%;

        &__anchorimg{
             width: 30rem;
        }
    }

    .section {
        display: grid;

        grid-template-rows: 50% 50%;

        column-gap: 1rem;
        margin: 1rem;

        
        &__video {
            grid-row: 1/3;
            width: auto;
        }

        &__divparrafo{
            grid-row: 2/1;
            text-align: justify;
            font-size: medium;
            }

        &__banner{
             grid-row: 2/2;
             margin-left: 1rem;
            }
    }

}


/* MEDIA QUERIES ESTILO LAPTOP*/

@media screen and (max-width: 1024px){

    .navbar-brand{
        margin-left: 2rem;
    }
    
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
        margin-right: 1rem;
    }

    .navbar-nav{
        font-size: small;
    }
    
    .main {
        display: grid;
        grid-template-columns: 33% 33% 33%;

        &__anchorimg{
             width: 20rem;
        }
    }

    .section {
        display: grid;

        grid-template-rows: 50% 50%;

        column-gap: 1rem;
        margin: 1rem;

        
        &__video {
            grid-row: 1/3;
            width: auto;
        }

        &__divparrafo{
            grid-row: 2/1;
            text-align: justify;
            font-size: small;
            }

        &__banner{
             grid-row: 2/2;
             margin-left: 1rem;
            }
    }

}

/* MEDIA QUERIES ESTILO TABLET*/

@media screen and (max-width: 768px){

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        grid-gap: 1px;

        &__div{
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin: auto; 
        }

        &__anchorimg{
            width: 30rem;
        }
    }

    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: $nulo;

        &__video{
            width: 95%;
            margin-bottom: 1rem;
        }
    
        &__div{
            display: flex;
            width: auto;
            padding: 1rem 1rem 1rem 1rem;
            overflow-x: hidden;
            justify-content: center;
        }
    
        &__divparrafo{
            text-align: center;
            margin-top: unset;
            margin-bottom: 1rem;
        }
    }
    
    .footer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 10% 10% 30%;
        font-size: x-small;
        justify-items: center;

        &__logocontenedor{
            margin: unset;
        }
    
        &__logo{
            width: 150px;
            margin: $nulo;
        }
    
        &__div{
            margin-right: $nulo;
            gap: 1rem;
        }
    }

}

/* MEDIA QUERIES ESTILOS MOVILES*/

@media screen and (max-width: 425px){

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 30% 10%;
        justify-items: center;

        &__div {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &__anchorimg {
            width: 20rem;
        }
    }

    .section {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-right: $nulo;

        &__video {
            width: 95%;
        }


        &__divparrafo {
            text-align: center;
        }
    }
    

    .footer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 10% 10% 30%;
        font-size: x-small;
        justify-items: center;

        &__logocontenedor{
            margin: unset;
        }

        &__logo {
            width: 150px;
            margin: $nulo;
        }

        &__div {
            margin-right: $nulo;
            gap: 1rem;
        }
    }
}