.section{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    padding-bottom: 1rem;

    &__video{
        width: 50%;
        margin-left: 1rem; 
    }

    &__divparrafo{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
        text-align: center;
        margin: 0.5rem;
    }

    &__banner{
        height: 130px;
    }
}


